<section class="text-{{ block.text_align }} {{ block.section_spacing }} {{ block.section_color }}">


    {% if block.title %}
    <div class="">
      <h3 class="text-xl mb-4 text-{{ block.title_align }}"> {{ block.title }} </h3>
    </div>
  
    <div class="md:columns-{{ block.column_count }}">
      <p> {{ block.text_html }}</p>
     </div>
    {% else %}
  
    <div class="md:columns-{{ block.column_count }}">
     <p> {{ block.text_html }}</p>
    </div>
  {% endif %}
  
  </section>
  
  